<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\NeeitDatabase.mdf;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="NeeitDatabaseConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\NeeitDatabase.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>


    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer"
            applicationName="Neeit"
            type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />

    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="LocalSqlServer"
          applicationName="Neeit"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          minRequiredPasswordLength="5"
          passwordFormat="Hashed" />
      </providers>
    </membership>


    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" applicationName="Neeit" connectionStringName="LocalSqlServer" type="System.Web.Profile.SqlProfileProvider" />
      </providers>

      <properties>
        <add  name="FullName" allowAnonymous="false"/>

      </properties>

    </profile>

  </system.web>

  <system.web>
    <!-- other configuration sections -->
    <siteMap defaultProvider="XmlSiteMapProvider">
      <providers>
        <add name="XmlSiteMapProvider"
         description="Default SiteMap provider."
         type="System.Web.XmlSiteMapProvider"
         siteMapFile="Web.sitemap"
         securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>


  <location path="User/Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="RegisteredUser"/>
        <allow roles="Moderators"/>
        <allow roles="Administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="User/EditUserInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="RegisteredUser"/>
        <allow roles="Moderators"/>
        <allow roles="Administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>



  <location path="~/Forum/Topics.aspx">
    <system.web>
      <authorization>
        <allow roles="RegisteredUser"/>
        <allow roles="Moderators"/>
        <allow roles="Administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="~/Forum/Users.aspx">
    <system.web>
      <authorization>
        <allow roles="RegisteredUser"/>
        <allow roles="Moderators"/>
        <allow roles="Administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
